<header id="header">
<span class="pull-left">
  <i class="fa fa-bars fa-2x" style="color:white; padding-top: 15px;
    padding-left: 15px;" aria-hidden="true"></i>
</span>
<span class="boot-center">
  <h1 class="boot-style">boot</h1>
</span>
<!-- pulled right: nav area -->
<span class="pull-right" style="display:none">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right" style="display:none">
        <span> <a toggle-menu title="Collapse Menu"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->

    
    <!-- multiple lang dropdown : find all flags in the flags page -->
    <language-selector></language-selector>
    <!-- end multiple lang -->

</span>
<!-- end pulled right: nav area -->

</header>