<div id="content" ng-controller="botSettingCtrl as ctrl" ng-cloak="">
  <section id="widget-grid" class="">
    <div ng-submit="submit()" name="settingForm">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-header">
              <h3>Step 1</h3>
              <h2>Personality Setting</h2>
            </div>
            <div id="personality-toast" class="panel-body status">
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="New">
                <md-content class="md-padding">
                  <div class="setting-body chat-body" ng-style="{'height': containerLayout.height}">
                    <h5 class="setting-title">Create a new personality</h5>
                    <div ng-repeat="ability in abilityDraft">
                      <div class="personal-setting" layout="">
                        <div flex="10" layout="" layout-align="end">
                          <span class="md-body-1"><h5 ng-style="{'font-size': ability.negative.fontSize,'font-weight':ability.negative.fontWeight,'transition': 'font 0.3s ease'}">{{ability.negative.name}}</h5></span>
                        </div>
                        <md-slider md-discrete class="md-primary" style="width:130px;min-width: 10px" flex="" md-discrete="" ng-model="ability.value" step="25" min="0" max="100" aria-label="rating" ng-change="objectChange(ability)">
                        </md-slider>
                        <div flex="10" layout="" layout-align="start">
                          <span class="md-body-1"><h5 ng-style="{'font-size': ability.positive.fontSize,'font-weight':ability.positive.fontWeight,'transition': 'font 0.3s ease'}" >{{ability.positive.name}}</h5></span>
                        </div>
                      </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <form name = "personalitySettingForm" class="save-personality-setting row">
                      <div class="col-md-9">
                        <md-input-container>
                          <label>Setting Name</label>
                          <input name="personalityTitle" ng-model="personalitySetting.toBeSave.title" required>
                          <div class="hint">Name this new personality settings</div>

                        </md-input-container>
                      </div>
                      <div class="col-md-3">
                        <md-button ng-disabled="personalitySetting.toBeSave.title? false : true" ng-click="personalitySetting.save()" class="md-raised md-primary">Save</md-button>
                      </div>
                    </div>
                  </form>
                </md-content>
              </md-tab>
              <md-tab label="Saved">
                
                <div class="setting-body chat-body" ng-style="{'height': containerLayout.height}">
                  <div class="row">
                    <div class="col-md-6">
                      <h5 class="setting-title">Saved personalities</h5>
                    </div>
                    <div class="col-md-6">
                      <md-input-container class="selected-year">
                        <md-select ng-model="ctrl.selectedYear" aria-label="Select a Year">
                          <md-option ng-value="$index" ng-repeat="year in ctrl.years">{{ year }}</md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                  </div>
                  <div class="wrapper"> 
                    <md-virtual-repeat-container id="vertical-container" md-top-index="ctrl.topIndex">
                      <div md-virtual-repeat="item in ctrl.items"
                          class="repeated-item" ng-class="{header: item.header}" flex>
                        {{item.text}}
                      </div>
                    </md-virtual-repeat-container>
                  </div>
                </div>

              </md-tab>
              <md-tab label="Help">
                <md-content class="md-padding">
                  <h1>How can I help you?</h1>
                </md-content>
              </md-tab> 
            </md-tabs>
             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-header">
              <h3>Step 2</h3>
              <h2>Process Setting</h2>
              <label>?</label>
            </div>
            <div class="panel-body status">
              <div class="chat-body" ng-style="{'height': containerLayout.height}">
                <h5 class="setting-title">Process Setting</h5>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <label>Number of test dialogues</label>
                    <h5><input ng-model="settingsOption.process.dialogue" type="number" step="1" required></h5>
                  </md-input-container>
                </div>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <label>Number of rounds</label>
                    <h5><input ng-model="settingsOption.process.round" type="number" step="1" required></h5>
                  </md-input-container>
                </div>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <label>Maximum number of turns per test dialogue</label>
                    <h5><input ng-model="settingsOption.process.turn" type="number" step="1" required></h5>
                  </md-input-container>
                </div>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <label>Number of queries per test dialogue</label>
                    <h5><input ng-model="settingsOption.process.query" type="number" step="1" required></h5>
                  </md-input-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-header">
              <h3>Step 3</h3>
              <h2>Test Scenario</h2>
              <label>?</label>
            </div>
            <div class="panel-body status">
              <div class="chat-body" ng-style="{'height': containerLayout.height}">
                <h5 class="setting-title">Point of view settings</h5>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <label>Title(required)</label>
                    <h5><input ng-model="settingsOption.title" required></h5>
                  </md-input-container>
                </div>
                <div layout-gt-md="row">  
                  <md-input-container class="md-block" flex-gt-md>
                    <h5><label>Save History</label></h5>
                    <md-select name="type" ng-model="settingsOption">
                      <md-option ng-repeat="setting in settings" ng-value="setting" style="font-size:initial;">
                        {{setting.title}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <br>
                <br>
                <md-content>
                  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" class="md-raised md-primary">Save New</md-button>
                    <md-button ng-show = "settingsOption.$id" class="md-raised md-primary">Update</md-button>
                  </section>
                </md-content>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <pre>{{settings | json}}</pre>
  <pre>{{personalitySetting | json}}</pre>
</div>