.strong{
    transform: scale(2);
}
md-slider .md-track.md-track-fill {
    background-color: rgba(0,0,0,0);
}
.personal-setting{
  padding: 21px 0;
}
.setting-title{
  font-size:20px;
  font-weight: bold;
}
#main{
  margin-left:0;
}