<div id="content" class="test-bot" ng-controller="botConsCtrl" ng-cloak="">
    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
  -->
  <div ng-hide="!newTest" class="overlay" ng-style="overlayStyle">
    <div class="welcome" layout="row" style="position: relative;
    top: 30%;font-size:20px" layout-wrap>
      <div flex="30">
        <h1>Step 1</h1>
      </div>
      <div flex="40">
        <md-select aria-label="sortedList" style="color:white;" ng-model="selectedTest">
          <md-option ng-value="item" ng-repeat="item in testScenarioList.lists">{{item.title}}</md-option>
        </md-select>
      </div>
      <div flex="30">
        
      </div>
      
       <div flex="30">
        <h1>Step 2</h1>
      </div>
      <div flex="40">
        <md-input-container class="md-block" flex-gt-sm>
          <label>This will be the title of the log file (you can overwrite)</label>
          <input ng-model="testScenarioList.name">
        </md-input-container>
      </div>
      <div flex="30">
        
      </div>
       <div flex="30">
        <h1>Step 3</h1>
      </div>
      <div flex="40">
        <i style="font-size:10em;" ng-click="newTest = false" class="fa fa-play-circle-o fa-4x"></i>
      </div>
      <div flex="30">
        
      </div>
    
    </div>

  </div>
  <!-- widget grid -->

  <section id="widget-grid" class="">

    <!-- row -->

    <div class="row">

      <!-- a blank row to get started -->
      <div class="col-lg-3 ">
        <div class="panel panel-default">
          <div class="panel-body status">
            <md-toolbar class="md-hue-2" style="background-color: #b6bde6;">
              <div class="md-toolbar-tools" style="text-align: center;color:#3f51b5">
                <h2 flex md-truncate>Tester</h2>
              </div>
            </md-toolbar>

            <div class="chat-body" ng-style="{'height': layoutHeight,'background':'white'}">
              <div class="row">
                <div style="padding-top: 60px;" class="col center-content">
                  <div class="bot-profile">
                    <img src="styles/img/avatars/test.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-footer" style="height:143px">
              <div style="text-align: center">
                <div style="display:inline-flex; width:100%">
                  <h5 class="first-half">Average verbosity: </h5>
                  <h5 class="second-half"> 2 words / turn </h5>
                </div>
                <div style="display:inline-flex; width:100%">
                  <h5 class="first-half">Cooperative: </h5>
                  <h5 class="second-half">Percentage</h5>
                </div>
                <div style="display:inline-flex; width:100%">
                  <h5 class="first-half">User Input: </h5>
                  <h5 class="second-half">{{testerCounts}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 " style="position:relative">

        <div class="panel panel-default">
          <div class="panel-body status">
            <div class="who clearfix" style="border-bottom:0px;background: #b6bde6;"></div>
            <div class="row" style="margin:0;background: #b6bde6;color: #3f51b5;">
              <div class="col-lg-4">
                <h4>Round 1 of 100</h4>
                <h4>Dialogue 1 of 100</h4>
              </div>
              <div class="col-lg-4 turn" style="padding-left:6%;">
                <div style="display:flex;width:75%;">
                  <svg>
                    <circle id="circle_tester" />
                  </svg>
                  <h4>Turn:</h4>
                  <p class="turn-number">{{testTurn}}</p>
                  <svg>
                    <circle id="circle_testing" />
                  </svg>
                </div>
              </div>
              <div class="col-lg-4" >
                <h4 style="text-align: right">Duration: {{testDuration}} turns</h4>
                <h4 style="text-align: right">Length: 20 sec</h4>
              </div>
            </div>
            
            <div id="chat-body" class="chat-body" ng-style="{'height': layoutHeight,'z-index':1}">
              <div style="position: absolute;
              font-size: 300px;
              width: 100%;
              top: 162px;
              color: grey;
              text-align: center;
              opacity: 0.2;">
              <p>80%</p> 
            </div>
            <div style="position:relative;z-index: 2;">
              <ul>

                <li class="clearfix left-align left card-panel yellow accent-1">

                  <div class="message-text">
                    Hi there!
                  </div>
                </li>
                <li class="clearfix left-align right card-panel green accent-1">

                  <div class="message-text">
                    Is there anything I can do for you today? 
                  </div>
                </li>

              </ul>
            </div>
          </div>

          <div class="chat-footer" style="padding:0px">
            <div class="control-board" style="height: 142px">
              <div class="row" style="margin:0px;padding-top:50px">
                <span class="col">
                  <div layout="">
                    <div flex="10" layout="" layout-align="center center">
                      <span class="md-body-1"><h5>Dialogue Speed</h5></span>
                    </div>
                    <md-slider flex="" md-discrete="" ng-model="rating1" step="1" min="1" max="5" aria-label="rating">
                    </md-slider>
                  </div>
                </span>
                <span class="col-lg-2" style="display:none;padding-top:30px;right:10px">
                  <md-button id ="log_file" class="md-fab" aria-label="Photos">
                    <md-tooltip md-visible="demo.showTooltip">Download Logs</md-tooltip>
                    <md-icon class="fa fa-download fa-2x"></md-icon>
                  </md-button> 
                </span>
              </div>  
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3 ">
      <div class="panel panel-default">
        <div class="panel-body status">
          <md-toolbar class="md-hue-2" style="background-color: #b6bde6;">
            <div class="md-toolbar-tools" style="text-align: center;color:#3f51b5">
              <h2 flex md-truncate>Client</h2>
            </div>
          </md-toolbar>
          <div class="chat-body" ng-style="{'height': layoutHeight,'background':'white'}">
              <div class="row">
                <div class="col center-content">
                  <div class="bot-profile">
                    <img src="styles/img/avatars/client.png">
                  </div>
                </div>
              </div>
            </div>
          <!-- <div class="chat-body custom-scroll" ng-style="{'height': layoutHeight}">
            <div class="row">
              <div class="col center-content">
                <div class="bot-profile">
                  <div ng-show="weapon=='confluence'">
                    <img src="styles/img/avatars/client.png">
                    <div class="col center-content">
                      <h4 style="font-size:15px">Source: {{weapon}}</h4>
                      <h4 style="font-size:15px">Description: Confluence Conference San Francisco</h4>
                    </div>
                  </div>
                  <div ng-show="weapon=='apiai'">
                    <img src="styles/img/avatars/greenBot.png">
                    <div class="col center-content">
                      <h4 style="font-size:15px">Source: {{weapon}}</h4>
                      <h4 style="font-size:15px">Description: Small Talk</h4>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div> -->
          <div class="chat-footer" style="height:143px">
            <div style="text-align: center">
              <div style="display:inline-flex; width:100%">
                <h5 class="first-half">Average verbosity: </h5>
                <h5 class="second-half"> 2 words / turn </h5>
              </div>
              <div style="display:inline-flex; width:100%">
                <h5 class="first-half">Cooperative: </h5>
                <h5 class="second-half">Percentage</h5>
              </div>
              <div style="display:inline-flex; width:100%">
                <h5 class="first-half">User Input: </h5>
                <h5 class="second-half">{{testingCounts}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end row -->


  </section>
  <!-- end widget grid -->
  <div ng-hide = "newTest" class="test-controller">
    <div class="row">
      <div class="col-lg-3">
        <div class="chat-footer" style="border-top: 0px;">
          <div class="textarea-div">
            <section>
              <label class="input" style="width:100%;margin:0px">
                <input style="width:100%" type="text" class="input-lg" placeholder="Write a reply..." id="q_tester">
              </label>
            </section>
          </div>
        </div>
      </div>
      <div class="col-lg-6" style="text-align: center;">
        <md-button id ="start_engine" class="md-fab" aria-label="Play">
          <md-tooltip md-visible="demo.showTooltip">Play</md-tooltip>
          <md-icon class="fa fa-play fa-2x"></md-icon>
        </md-button>
        <md-button id ="stop_engine" class="md-fab" aria-label="Stop">
          <md-tooltip md-visible="demo.showTooltip">Stop and Reset</md-tooltip>
          <md-icon class="fa fa-stop fa-2x"></md-icon>
        </md-button>
      </div>
      <div class="col-lg-3">
        <div class="chat-footer" style="border-top: 0px;">
          <div class="textarea-div">
            <section>
              <label class="input" style="width:100%;margin:0px">
                <input style="width:100%" type="text" class="input-lg" placeholder="Write a reply..." id="q_testing">
              </label>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>