<div id="content" class="test-bot" ng-controller="botConsCtrl">

  <!-- row -->
  <div class="row">

   

    </div>
    <!-- end row -->

    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
  -->

  <!-- widget grid -->
  <section id="widget-grid" class="">

    <!-- row -->

    <div class="row">

      <!-- a blank row to get started -->
      <div class="col-lg-3 ">
        <div class="panel panel-default">
          <div class="panel-body status">
            <div class="who clearfix">
              <h4 style="text-align: center;">User Input: {{testerCounts}}</h4>
            </div>

            <div class="chat-body ">
              <div class="row">
                <div class="col center-content">
                  <div class="bot-profile">
                    <img src="styles/img/avatars/yellowBot.png">
                  </div>
                </div>
              </div>
            </div>

            <div class="chat-footer">


              <div class="textarea-div">

                <div class="typearea">
                  <textarea placeholder="Write a reply..." id="q_tester" class="custom-scroll"></textarea>
                </div>

              </div>


              <span class="textarea-controls">
                <button ng-click="testerInput()" class="btn btn-sm btn-primary pull-right">
                  Reply
                </button> 
              </div>
          </div>
          </div>
      </div>
      <div class="col-lg-6 ">

        <div class="panel panel-default">
          <div class="panel-body status">
            <div class="who clearfix">
              <h4 style="text-align: center;">Test Duration: {{testDuration}} seconds , Test Turn: {{testTurn}}</h4>
            </div>

            <div id="chat-body" class="chat-body custom-scroll">
              <ul>

                <li class="clearfix left-align left card-panel yellow accent-1">

                  <div class="message-text">
                    Hi there!
                  </div>
                </li>
                <li class="clearfix left-align right card-panel green accent-1">

                  <div class="message-text">
                    Is there anything I can do for you today? 
                  </div>
                </li>

              </ul>
            </div>

            <div class="chat-footer">


              <!-- <div class="textarea-div">

                <div class="typearea">
                  <textarea placeholder="Write a reply..." id="textarea-expand" class="custom-scroll"></textarea>
                </div>

              </div>
 -->

              <span class="textarea-controls play-button-controls">
                <button id="log_file" class="btn btn-sm btn-primary pull-right">
                  Download Logs
                </button> 
                <!-- <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;"> <label class="checkbox pull-right">
                <input type="checkbox" name="subscription" id="subscription">
                <i></i>Press <strong> ENTER </strong> to send </label> </span>  -->
                <a id="start_engine" href="javascript:void(0);" class="pull-left">
                  <i class="fa fa-play fa-fw fa-fh fa-3x"></i>
                </a> 
                <a id="stop_engine" href="javascript:void(0);" class="pull-left">
                  <i class="fa fa-stop fa-fw fa-fh fa-3x"></i>
                </a> 
              </span>

              </div>
            </div>
          </div>

        </div>
      <div class="col-lg-3 ">
        <div class="panel panel-default">
          <div class="panel-body status">
            <div class="who clearfix">
              <h4 style="text-align: center;">User Input: {{testingCounts}}</h4>
            </div>

            <div class="chat-body custom-scroll">
              <div class="row">
                <div class="col center-content">
                  <div class="bot-profile">
                    <img src="styles/img/avatars/greenBot.png">
                  </div>
                </div>
                <div class="col center-content">
                  <h4 style="font-size:15px">Source: API.AI</h3>
                  <h4 style="font-size:15px">Description: Emotional Bot</h3>
                </div>
              </div>
            </div>

            <div class="chat-footer">


              <div class="textarea-div">

                <div class="typearea">
                  <textarea placeholder="Write a reply..." id="q_testing" class="custom-scroll"></textarea>
                </div>

              </div>


              <span class="textarea-controls">
                <button ng-click="testingInput()" class="btn btn-sm btn-primary pull-right">
                  Reply
                </button>  
              </span>

              </div>
          </div>
          </div>
      </div>

    </div>

      <!-- end row -->


    </section>
    <!-- end widget grid -->

</div>