
.testing-bot{
  height:auto;
  background:url("../../styles/img/avatars/testing.png") no-repeat;
  background-position: left;
  background-size:initial;
}
.yellow.accent-1 {
  list-style-type: none;
  position: relative;
  border: 2px solid #c08f26;
  border-radius: 20px;
  background-color: #febd31;
  border-bottom-left-radius: 1px;
}
.pink-panter.accent-1{
  list-style-type: none;
  position:relative;
  border-radius: 20px;
  border: 2px solid #666;
  background-color: #ff4081;
}
.green.accent-1{
  list-style-type: none;
  position:relative;
  border: 2px solid #298837;
  border-radius: 20px;
  background-color: #3ac64e;
  border-bottom-right-radius: 1px;
}
.bot-profile{
  display:inline-block;
  width:200px;
  height:247px;
}
.bot-profile img{
  width:100%;
  height:100%;
}
.clearfix {
  clear: both;
}
.center-content{
  text-align:center;
}
.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
  font-size: 15px;
  color: darkblue;
  font-weight: 300;
}
.left-align {
  text-align: left;
}

.left {
  float: left;
}
.right{
  float:right;
}


.test-bot .chat-body li.message img {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  border: 5px solid rgba(0,0,0,.14);
  box-sizing: content-box;
  border-left: 4px solid #fff;
  position: absolute;
}
.test-bot .chat-body li.message {
  max-width: 590px;
  height: 70px;
  left: 27%;
  display: block;
  border-radius: 10px;
  position: relative;
  margin: 20px 20px 0;
}

.txt-color-blueDark.title {
    font-size: 60px;
    font-weight: 500;
}
.textarea-controls.control-board {
  height: 121px !important;
}
.textarea-controls.control-board a{
  color: #2196f3; 
}
#header{
  height:55px;
}

.vertical-divider{
  border-right: 1px dashed #333;
}
.md-ripple-container{
  display:none;
}

.test-controller {
  position: fixed;
  z-index: 901;
  height: 85px;
  width: 98%;
  display: block;
  bottom: 10px;
}
.flex-10, .layout-row>.flex-10 {
    max-width: 20%;
}
.control-board md-slider{
  margin-left:100px;
  margin-right:150px;
}
md-slider{
  margin-left:20px;
  margin-right:20px;
}
md-slider[md-discrete] .md-sign,
md-slider[md-discrete] .md-sign:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
#demo-setting{
  display:none;
}
.chat-footer{
  background:none;
}

.smart-style-2.menu-on-top aside#left-panel{
  display:none;
}
.center-content{
  text-align: center;
}

.status .who {

  padding: 10px;
}
.turn-number{
  font-size: 18px;
  font-weight: 300;
  width: 20%;
  text-align: center;
}
/*turn take svg animation */

/*testing bot drop down list*/
.bot-option md-select{
  margin: 20px 0 15px;
}

.bot-option .md-select-value {
  text-align: center;
  font-size:18px;
  font-weight: 600;
}

/*end testing bot drop down list*/

/*text align film style*/
.first-half{
  width: 50%;
  text-align: end;
  padding-right: 5px;
}
.second-half{
  width: 50%;
  text-align: start;
  padding-left: 5px;
}
/*end text align film style*/

.turn svg {
  height: 50px;
  width: 50px;
  position: relative;
  bottom: 10px;
  background-color: white;
}

#circle_tester {
  cx: 25;
  cy: 25;
  r: 10;
  stroke:#c08f26;
  stroke-width: 2;
  fill: #febd31;
  color: white;
  transition: stroke 0.5s, r 0.5s;
}
#circle_testing {
  cx: 25;
  cy: 25;
  r: 10;
  stroke: #298837;
  stroke-width: 2;
  fill: #3ac64e;
  color: white;
  transition: stroke 0.5s, r 0.5s;
}

#circle_testing.active {
  stroke: #298837;
  stroke-width: 4;
  r: 20;
}
#circle_tester.active{
  stroke: #c08f26;
  stroke-width: 4;
  r: 20;
}

#header>:first-child, aside{
  width:0px;
}




